<div class="container mt-5 width-200">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center">
      <h1>All restaurants</h1>

      <ul>
        <% @restaurants.each do |restaurant| %>
          <li class="d-flex justify-content-between">
          <p><%= restaurant.name %></p>
          <%= link_to "See details", restaurant_path(restaurant), class: "btn border"%>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn border"%>
    </div>
  </div>
</div>
